In [44]:
vacancy = pd.read_csv('vacancy.csv')

In [46]:
# Посмотреть первые строчки

,id,created_at,updated_at,vacid,vactitle,vacdescription,vacdate,vacstatus,vaclink,vachtml
0,383479,2021-03-14 09:39:21.854462,2021-03-14 09:39:21.854584,1474941,Senior java-разработчик (в команду Онбординга),"Работа у нас — это:команда профессионалов, го...",2021-03-15,new,https://my.sbertalents.ru/#/job-requisition/14...,"{""title"": ""Senior java-\u0440\u0430\u0437\u044..."
1,383480,2021-03-14 09:39:21.854462,2021-03-14 09:39:21.854584,1476154,Дизайнер мобильных приложений,Мы ищем дизайнера в нашу дружную команду Сбер...,2021-03-15,new,https://my.sbertalents.ru/#/job-requisition/14...,"{""title"": ""\u0414\u0438\u0437\u0430\u0439\u043..."

In [1]:
# убрать лишнее

In [68]:
# посчитать по датам количество вакансий

In [70]:
# перевести даты в формат datetime

In [ ]:
# перевести даты в индекс и построить график

In [4]:
# найти профессии с самым большим количеством вакансий и построить по ним график

In [2]:
# Найти вакансии аналитика

In [3]:
# посчитать количество вакансий аналитика

In [5]:
# найти вакансии аналитика который использует python

In [6]:
# отфильтровать вакансии по дате